*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 100%;
    background: #AC9CFF;
}