.cmd .mainApp #inp,
.cmd .mainApp #consoletext div{
    color: #6F55F2;
    font-weight: 400;
    letter-spacing: 2px;
}

.cmd .mainApp #consoletext div p:last-child{
    color: #55F2A4;
}

.cmd .mainApp #consoletext div.error p:last-child{
    color: #E53956;
}

.cmd .mainApp #consoletext {
    color: white;
}

.cmd .mainApp .cmdInpWrapper,
.cmd .mainApp #consoletext div{
    display: flex;
    align-items: start;
    gap: 10px;
    height: 100%;
}

.cmd .mainApp #consoletext div p {
    font-size: calc(var(--headingSize) - 7px);
}

#textinput {
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    color: #55F2A4;
    font-family: Monospace;
    width: calc(100% - 25ch);
    height: 100%;
    font-size: calc(var(--headingSize) - 7px);
}

#textinput::-webkit-scrollbar{
    width: 0;
}

.cmd .mainApp #consoletext div table {
    width: 100%;
}

.cmd .mainApp #consoletext div table tr,
.cmd .mainApp #consoletext div table th,
.cmd .mainApp #consoletext div table td{
    padding: var(--contentPadding);
    border: 1px solid #EAE5FF;
    text-align: center;
}