.setting .mainApp {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    padding: 0 !important;
}

.setting .mainApp::-webkit-scrollbar {
    display: none;
}

.setting .mainApp .settingOptions,
.setting .mainApp .settingExpand,
.setting .mainApp .settingExpand .settingContent {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 10px;
}

.setting .mainApp .settingOptions::-webkit-scrollbar,
.setting .mainApp .settingExpand::-webkit-scrollbar {
    display: none;
}

.setting.maximize .mainApp .settingOptions {
    width: 20%;
    height: 100%;
}

.setting.maximize .mainApp .settingExpand {
    width: calc(100% - 20%);
    height: 100%;
}

.setting.minimize .mainApp .settingOptions {
    width: 25%;
    height: 100%;
}

.setting.minimize .mainApp .settingExpand {
    width: calc(100% - 25%);
    height: 100%;
}

.setting .mainApp .settingOptions .account {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.setting.maximize .mainApp .settingOptions .account {
    height: 50px;
    margin-top: 25px;
    gap: 10px;
}

.setting.minimize .mainApp .settingOptions .account {
    height: 40px;
    margin-top: 25px;
    gap: 10px;
}

.setting .mainApp .settingOptions .account img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.setting.maximize .mainApp .settingOptions .account .info {
    width: calc(100% - 60px);
}

.setting.minimize .mainApp .settingOptions .account .info {
    width: calc(100% - 50px);
}

.setting .mainApp .settingOptions .account .info h4,
.setting .mainApp .settingOptions .account .info p {
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    color: var(--primaryColor);
    text-transform: capitalize;
    font-weight: bold;
}

.setting.maximize .mainApp .settingOptions .account .info h4,
.setting.maximize .mainApp .settingOptions .account .info p {
    font-size: 17px;
}

.setting.minimize .mainApp .settingOptions .account .info h4,
.setting.minimize .mainApp .settingOptions .account .info p {
    font-size: 15px;
}

.setting .mainApp .settingOptions .account .info p {
    opacity: .7;
    text-transform: lowercase;
    font-weight: 400;
}

.setting.maximize .mainApp .settingOptions .account .info p {
    font-size: 15px;
}

.setting.minimize .mainApp .settingOptions .account .info p {
    font-size: 12px;
}

.setting .mainApp .settingOptions .searchField {
    width: 100%;
    height: max-content;
    margin-top: 25px;
}

.setting .mainApp .settingOptions .searchField input {
    background: var(--primaryBG);
    outline: none;
    border-bottom: 2px solid var(--border);
    width: 100%;
    padding: 5px 10px;
    color: var(--primaryColor);
    font-size: 17px;
    border-radius: 5px;
}

.setting.maximize .mainApp .settingOptions .searchField input {
    font-size: 17px;
}

.setting.minimize .mainApp .settingOptions .searchField input {
    font-size: 13px;
    letter-spacing: 1px;
}

.setting .mainApp .settingOptions .searchField input::placeholder {
    color: rgba(255, 255, 255, .5);
}

.setting .mainApp .settingOptions ul {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 25px;
}

.setting .mainApp .settingOptions ul li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
}

.setting.maximize .mainApp .settingOptions ul li {
    height: 40px;
}

.setting.minimize .mainApp .settingOptions ul li {
    height: 30px;
}

.setting .mainApp .settingOptions ul li:hover,
.setting .mainApp .settingOptions ul li.active {
    background: var(--primaryColor);
}

.setting .mainApp .settingOptions ul li:hover div h5,
.setting .mainApp .settingOptions ul li.active div h5 {
    color: #191919;
}

.setting .mainApp .settingOptions ul li div {
    height: 100%;
    background: transparent;
}

.setting .mainApp .settingOptions ul li:first-child div img {
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
}

.setting .mainApp .settingOptions ul li div img {
    height: 100%;
    aspect-ratio: 1/1;
}

.setting .mainApp .settingOptions ul li div:last-child {
    width: calc(100% - 47px);
    height: 100%;
    position: relative;
}

.setting .mainApp .settingOptions ul li div h5 {
    height: max-content;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    line-height: normal;
    position: absolute;
    top: calc(50%);
    right: 0;
    transform: translateY(-50%);
}

.setting .mainApp .settingExpand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting .mainApp .settingExpand .settingContent {
    width: 95%;
    height: 100%;
    /* background: red; */
}

.setting .mainApp .settingExpand .settingContent::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
    background: transparent;
}

.setting .mainApp .settingExpand .settingContent::-webkit-scrollbar-thumb {
    background: #EAE5FF;
    border-radius: 25px;
}

.setting .mainApp .settingExpand .settingContent .settingPage {
    width: 100%;
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.setting .mainApp .settingExpand .settingContent .homeOptions {
    width: 100%;
}

.setting .mainApp .settingExpand .settingContent .homeOptions .homeMain {
    width: 100%;
    height: 150px;
    /* background: green; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}


/* .setting .mainApp .settingExpand .settingContent .homeOptions .homeMain {
    max-width: 500px;
    width: 30%;
    min-width: 300px;
    background: var(--primaryBG);
} */


/* .setting .mainApp .settingExpand .settingContent .homeOptions .transperancyOption h4 {
    font-size: 18px;
    color: rgba(255, 255, 255, .5);
}

.setting .mainApp .settingExpand .settingContent .homeOptions .transperancyOption .appTransparent {
    width: 100%;
    height: 50px;
    background: red;
} */

.setting .mainApp .settingExpand .settingContent .homeOptions .homeMain .mainHome {
    display: flex;
    align-items: center;
    gap: 20px;
}

.setting .mainApp .settingExpand .settingContent .homeOptions .homeMain .mainHome img {
    height: 100px;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.setting .mainApp .settingExpand .settingContent .homeOptions .homeMain .mainHome .bsc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.setting .mainApp .settingExpand .settingContent .homeOptions .homeMain .mainHome .bsc .name {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.setting .mainApp .settingExpand .settingContent .homeOptions .homeMain .mainHome .bsc .version {
    color: rgba(255, 255, 255, .5);
}