@font-face {
    font-family: jsr;
    src: url('../assets/jsr.ttf');
}

@font-face {
    font-family: jsl;
    src: url('../assets/jsl.ttf');
}

*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url("../assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    --headerIcons: 15px;
    font-family: jsr;
}

body.small{
    --iconWidth: 30px;
    --padding: 15px 25px;   
    --elemPadding: 10px 10px;
    --actonBar: 45px;
    --headingSize:20px;
    --actionBarHeight: 35px;
    --contentPadding: 10px 5px;
}

body.medium{
    --iconWidth: 45px;
    --padding: 20px 45px;
    --elemPadding: 15px 15px;
    --actionBar: 75px;
    --headingSize: 23px;
    --actionBarHeight: 50px;
    --contentPadding: 10px 5px;
}

.cmd.maximize,
.setting.maximize,
.chat.maximize{
    width: 100%;
    height: 100%;
}

.cmd.minimize,
.setting.minimize,
.chat.minimize {
    width: 0;
    height: 0;
}

.mainScreen {
    height: calc(100% - 110px);
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 15px 50px;
}

.mainScreen .iconsList {
    height: 100%;
    width: 100%;
}

.mainScreen .iconsList ul{
    max-width: 100%;
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    list-style-type: none;
}

.mainScreen .iconsList ul li{
    height: max-content;
    width: var(--iconWidth);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    /* overflow: hidden; */
    cursor: pointer;
}

.mainScreen .iconsList ul li img {
    width: calc(var(--iconWidth) - 10px);
    height: calc(var(--iconWidth) - 10px);
}

.mainScreen .iconsList ul li h1 {
    width: var(--iconWidth);
    font-size: 15px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    word-wrap: normal;
    hyphens: manual;
    text-align: center;
}

.appContainer {
    position: absolute;
    width: 750px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.appContainer iframe {
    width: 100%;
    height: 100%;
}

.taskbar{
    width: max-content;
    height: max-content;
    padding: var(--padding);
    border-radius: 10px;
    background: rgba(172, 156, 255, 0.75);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25), 0px 0px 20px 0px rgba(25, 25, 25, 0.25);
    position: fixed;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    z-index: 9999999999;
}

.taskbar ul{
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.taskbar ul li{
    height: max-content;
    width: max-content;
}

.taskbar ul li img {
    width: calc(var(--iconWidth) - 10px);
    height: calc(var(--iconWidth) - 10px);
    cursor: pointer;
}

.cmd,
.setting,
.chat {
    max-width: 100%;
    max-height: 100%;
    min-width: 750px;
    min-height: 500px;
    background: gray;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav{
    padding: var(--elemPadding);
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #AC9CFF;
    height: var(--actionBarHeight);
}

nav:hover{
    cursor: grab;
}

nav.active{
    cursor: grabbing;
}

/* nav.active:hover{
    cursor: auto;
} */

nav h3{
    font-size: var(--headingSize);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav div img{
    /* height: 100%; */
    /* aspect-ratio: 1/1; */
    cursor: pointer;
    width: var(--headerIcons);
    height: var(--headerIcons);
}

.mainApp {
    background: #191919;
    width: 100%;
    height: calc(100% - var(--actionBarHeight));
    padding: var(--contentPadding);
    overflow-x: hidden;
    overflow-y: scroll;
}

.mainApp::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
    background: transparent;
}

.mainApp::-webkit-scrollbar-thumb{
    background: #EAE5FF;
    border-radius: 25px;
}
