.terminal {
    min-width: 750px;
    min-height: 500px;
    background: gray;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.terminal nav{
    padding: var(--elemPadding);
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #AC9CFF;
    height: var(--actionBarHeight);
}

.terminal nav h3{
    font-size: var(--headingSize);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal nav div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.terminal nav div img{
    /* height: 100%; */
    /* aspect-ratio: 1/1; */
    cursor: pointer;
    width: var(--headerIcons);
    height: var(--headerIcons);
}