* {
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
    box-sizing: border-box;
}

body  {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.page {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.main_container {
    position: relative;
    height: 530px;
    width: 530px;
}

.main_container div {
    position: absolute;
    width: 30px;
    height: 30px;
}

.main_container div:first-child {
    top: 0;
    left: 0;
    border-top: 1px solid #FF4191;
    border-left: 1px solid #FF4191;
}
.main_container div:nth-child(2) {
    top: 0;
    right: 0;
    border-top: 1px solid #FF4191;
    border-right: 1px solid #FF4191;
}
.main_container div:nth-child(3) {
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #FF4191;
    border-right: 1px solid #FF4191;
}
.main_container div:nth-child(4) {
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #FF4191;
    border-left: 1px solid #FF4191;
}

.main_container video {
    width: 500px;
    height: 500px;
    display: none;
}

.main_container input {
    display: none;
}

.main_container canvas {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

.main_container.drag * {
    display: none;
}

.main_container.drag {
    border: 1px solid #FF4191;
    border-style: dashed;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}

.main_container.drag p {
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: normal;
}

#qr_result {
    width: 530px;
    height: auto;
    overflow: hidden;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    padding-bottom: 10px;
}

.action_btn {
    width: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#toggle_scan_btn,
#reload {
    padding: 5px 15px;
    background: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#reload {
    background: #FF4191;
    color: #000000;
}


/* animation */


.glowing {
    position: relative;
    min-width: 700px;
    height: 550px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }
  