* {
    margin: 0;
    padding: 0;
    user-select: none;
    border: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: kanitSB;
    src: url(./assets/Kanit/Kanit-SemiBold.ttf);
}

@font-face {
    font-family: kanitR;
    src: url(./assets/Kanit/Kanit-Regular.ttf);
}

:root {
    --padding: 100px;
    --black: #000000;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white;
}

#root {
    background: var(--black);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#asset1 {
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

#asset1 img {
    width: 100%;
    height: 100%;
}

#name {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: -50px;
    right: -150px;
    width: max-content;
    height: max-content;
}

#name h1 {
    text-transform: uppercase;
    text-orientation: sideways-right;
    font-family: kanitSB;
    font-size: 400px;
    color: rgba(255, 255, 255, .04);
}

#name #date {
    position: absolute;
    top: calc(50px + var(--padding) - 50px);
    right: calc(150px + var(--padding));
}

#name #date h3,
#name #date p {
    font-family: kanitR;
}

#name #date h3 {
    font-size: 160px;
    line-height: 150px;
}

#name #date p {
    font-size: 21px;
    text-align: center;
}

#conversation {
    position: fixed;
    z-index: 5;
    height: 50vh;
    width: 50vw;
    bottom: calc(var(--padding) - 50px);
    right: var(--padding);
    /* background: red; */
}

#conversation #chatScreen {
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: end;
}

#conversation #chatScreen::-webkit-scrollbar {
    display: none;
}

#conversation #chatScreen .chat {
    display: flex;
    gap: 20px;
}

#conversation #chatScreen .chat.self {
    color: #858585;
}

#conversation #chatScreen .chat.client {
    color: #547AB0;
}

#conversation #chatScreen .chat .text {
    background: rgba(255, 255, 255, .04);
    backdrop-filter: blur(5px);
    font-family: kanitR;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    max-width: calc(100% - (25px + 30px));
}

#conversation #chatScreen .logo {
    width: 30px;
    height: 30px;
}

#conversation #chatScreen .logo img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#navbar {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 3;
    top: 50%;
    left: var(--padding);
    transform: translateY(-50%);
    border-radius: 10px;
    overflow: hidden;
}

#navbar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 20px;
}

#navbar ul li img {
    width: 40px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

@media (max-width: 1590px) {
     :root {
        --padding: 75px;
    }
    #name h1 {
        font-size: 350px;
    }
}

@media (max-width: 1530px) {
    #name {
        right: -100px;
    }
    #name h1 {
        font-size: 325px;
    }
}

@media (max-width: 1280px) {
     :root {
        --padding: 50px;
    }
    #name h1 {
        font-size: 275px;
    }
    #name #date {
        top: 75px;
        right: calc(100px + var(--padding));
    }
    #name #date h3 {
        font-size: 130px;
        line-height: 120px;
    }
    #name #date p {
        font-size: 21px;
    }
}